@use "../core/mixins/all";
@use "../core/variables";


/* @  l-block
 * ------------------------------------------------------------ */

 main {
  overflow: hidden;
  padding: 16px;
}
@media only screen and (min-width: variables.$desktop) {
  main {
    width: 700px;
  }
}

/* @ 1column
 * ------------------------------------------------------------ */

.ly_content {
  margin-top: variables.$base-spacing-header;
  &_inner{
    width: 100%;
  }
}


/* @  2column
 * ------------------------------------------------------------ */

@media only screen and (min-width: variables.$desktop) {
  .ly_content {
    &_inner{
      width: 100%;
      max-width: 1024px;
      margin: 0 auto;
      display: flex;
    }
  }
}




/* @  l-widget
 * ------------------------------------------------------------ */

.ly_sidebar{
  padding-top: 16px;
  margin-top: variables.$base-short-gap;
}
@media only screen and (min-width: variables.$desktop) {
  .ly_sidebar{
    width: 324px;
  }
}

.bl_widgets {
  margin-bottom: variables.$base-short-gap;
  padding: 0 16px;
  & .wp-block-search__input{
    font-size: initial;
  }
  & .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__button{
    padding: 0 10px;
  }
}

@media only screen and (min-width: variables.$desktop) {
  .bl_widgets .wp-block-search__button-inside{
    max-width: 300px;
  }
}


